/* @font-face */ 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}
nav{
    font-family:"Roboto",sans-serif;
    background-color: rgb(240, 242, 245);
    width: 100%;
    height: 100%;
}
/* start  */

/* start bloc-fb  */
#bloc-fb{
    padding: 10rem;
}
/* end bloc-fb */

/* start left-fb */
#bloc-fb .left-fb .about-bf{
    width: 300px;
    margin-left: 90px;
    margin-top: 3rem;
}
#bloc-fb .left-fb .about-bf h1{
    color: rgb(24, 119, 242);
    font-weight: 700;
    font-size: 40px;
} 
#bloc-fb .left-fb .about-bf P{
    color: rgb(28, 30, 33);
    font-size: 18px;
}
/* end left-fb */

/* start right-fb */

#bloc-fb .right-fb .conec-fb{
    background-color: rgb(255, 255, 255);
    width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
#bloc-fb .right-fb .conec-fb input,.btn-primary{
    width: 380px;
    margin: 10px;
}
#bloc-fb .right-fb .conec-fb hr{
    margin-left: 15px;
    margin-right: 15px;
}
#bloc-fb .right-fb .sous-conec {
   text-align: center;
}
#bloc-fb .right-fb .sous-conec p{
    padding: 15px;
    width: 400px;
    color: rgb(28, 30, 32);
}
#bloc-fb .right-fb .sous-conec span{
    color:rgb(28, 30, 32);
    font-weight: 600;
}
/* end right-fb */

/* end right-fb */
/* start footer */
#foot-fb{
    background-color: white;
    padding: 50px 150px;
}
#foot-fb p a{
    text-decoration: none;
    color: rgb(56, 88, 152);
}
#foot-fb .para p button .fa-plus{
    font-size: 7px;
}
#foot-fb .para p button .fa-paper-plane-top{
    font-size: 12px;
}
#foot-fb p a:hover{
    text-decoration: underline;
}
/* end footer */



/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
        .left-fb{
            display: none;
        }
}

/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .left-fb{
            display: none;
        }

   
}

/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){

}

/* bloc-fb1 */
 #bloc-fb1{
  margin: auto;
  width: 00px;
 }