/* @font-face */ 

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}
/* start main */
main{
    font-family: Roboto;
    background-color: rgb(240, 242, 245);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: rgb(163, 119, 141);
}
}
.bloc-fb{
    padding: 0px 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.bloc-fb .about-fb{
    margin: auto;
    text-align: center;
    width: 450px;
}
.bloc-fb .about-fb .ins-fb{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1rem;
    transform: scale(1.0);
}
.bloc-fb .about-fb .title-fb{
    color: rgb(24, 119, 242);
}
.bloc-fb .about-fb .title-fb h1{
    font-weight: 1000;
    margin: 30px 60px;
    font-size: 70px;
}
.bloc-fb .about-fb form h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.bloc-fb .about-fb form .rad label{
    text-align: left;
} 
.bloc-fb .about-fb form .rad .form-check{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: 40px;
    
    padding-top: 5px;
    padding-left: -5px;
    margin-right: px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.bloc-fb .about-fb form .rad .form-check .fer{
    position: relative;
    left: -25px!important;
}
.bloc-fb .about-fb form .sous-label{
    text-align: left;
}
.bloc-fb .about-fb form .sous-label P{
    font-size: 12px;
    color: rgb(163, 119, 141);
}
.bloc-fb .about-fb form .sous-label P a{
    text-decoration: none;
    color: rgb(56, 88, 152);
}
.bloc-fb .about-fb form .sous-label P a:hover{
    text-decoration: underline;
}
.bloc-fb .about-fb form .sous-but button{
    width: 200px;
    font-weight: 600;
    font-size: 20px;
}
.bloc-fb .about-fb form .sous-butt a{
    text-decoration: none;
    font-size: 18px;
}
/* end main */

/* start footer */
#foot-fb{
    margin-top: 80px;
    background-color: white;
    padding: 50px 150px;
}
#foot-fb p a{
    text-decoration: none;
    color: rgb(56, 88, 152);
}
#foot-fb .para p button .fa-plus{
    font-size: 7px;
}
#foot-fb .para p button .fa-paper-plane-top{
    font-size: -12px;
}
#foot-fb p a:hover{
    text-decoration: underline;
}
/* end footer */

